/* Navbar */
#navbar{
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 12vw;
    background-color: mediumaquamarine;
}
#nav-brand{
    display: flex;
    position: absolute;
    align-items: center;
    width: 25vw;
    left: 0px;
    height: 12vw;
}
#brand-text{
    width: 50%;
    font-size: 5vw;
    margin-left: 3vw;
    margin-right: -1vw;
}
#brand-image{
    width: 50%;
    aspect-ratio: 1/1;
    rotate: 270deg;
    margin: 0px;
}
#brand-image>img{
    width: 5vw;
    aspect-ratio: 1/1;
}
#nav-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    font-size: 2vw;
    vertical-align: middle;
}
.nav-item{
    display: flex;
}
.nav-item>a:hover{
    color: gray;
    scale: 0.95;
}
.nav-item>a{
    margin: auto;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

@media only screen and (max-width: 768px){

}
